body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}

.task-card.text-danger {
  color: white;
  background-color: red;
}

.task-card.text-warning {
  color: white;
  background-color: yellow;
}
